/* Logo container */
.logo {
  display: flex;
  align-items: center;
  justify-content: center; /* Alinha o logo ao centro horizontalmente */
  gap: 10px; /* Espaço entre imagem e texto */
  padding: 10px; /* Espaçamento interno */
  cursor: pointer;
}
  
  /* Estilo da imagem da logo */
  .logo-img {
    max-width: 70px; /* Ajusta o tamanho para proporção */
    max-height: 70px;
    border-radius: 50%; /* Arredonda a imagem */
    object-fit: cover; /* Garante que a imagem não distorça */
    background-color:#faf9f9;
  }
  
  /* Estilo do texto Atlas Books */
  .logo p {
    font-family: "Cinzel", serif;
    font-size: 30px;
    color:rgb(5,0,88);
    margin: 0;
  }
  